* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Monaspace Neon";
}

body {
    height: 100svh;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #202020;
    color: #fff;
}

.container h1 {
    font-size: 8em;
}

.btn-container {
    height: 3rem;
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-container button {
    height: 100%;
    width: 6rem;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 0.2rem;
    font-size: 1rem;
    font-weight: 600;
}

#decrease {
    background-color: red;
    color: #fff;
}

#reset {
    background-color: yellow;
    color: #202020;
}

#increase {
    background-color: green;
    color: #fff;
}

@media screen and (max-width: 640px) {
    .btn-container {
        height: 15rem;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
    }

    .btn-container button {
        height: 4rem;
        width: 10rem;
    }
}
